        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            min-height: 100vh;
            place-items: center;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: antiquewhite;
        }
        
        #container {
            margin: 0 auto;
            width: 500px;
            text-align: center;
            border: #000 dashed 1px;
        }